<%= form_with(model: slide, local: true) do |form| %>
  <% if slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <% slide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :slide_image %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, id: :slide_link %>
  </div>

  <div class="field">
    <%= form.label :button_label %>
    <%= form.text_field :button_label, id: :slide_button_label %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :slide_title %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text, id: :slide_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
