<%= form_with(model: shipping, local: true) do |form| %>
  <% if shipping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shipping.errors.count, "error") %> prohibited this shipping from being saved:</h2>

      <ul>
      <% shipping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :shipping_title %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text, id: :shipping_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
